body {
    background-image: url('OBMC+Quadrangle+2.webp');
}

.container {
    opacity: 85%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px;
    width: 700px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

#name {
      width: 100%;
        padding: 6px 10px;
        font-size: 14px;
        border: 1px solid #cfd8dc;
        border-radius: 4px;
        outline: none;
}
